html{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(35,148,160,1);
}

html::-webkit-scrollbar{
    background: rgb(14, 164, 190);
    width: 5px;
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb{
    background: black;
    width: 5px;
    border-radius: 10px;
}